<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
    <div navbar-left>
      <% if user_signed_in? %>
        <div>
          <%= current_user.first_name %>, <%= current_user.last_name %>
        </div>
        <div>
          <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Profile', edit_user_registration_path %></button>
           <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
        </div>
      <% end %>
    <div>
  </div>
</nav>